@use "./variables" as *;
@font-face {
  font-family: $primary-font-fontface;
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: $font-weight-regular700;
  font-style: normal;
}
@font-face {
  font-family: $primary-font-fontface;
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: $font-weight-bold;
  font-style: normal;
}

@font-face {
  font-family: $primary-font-fontface;
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: $font-weight-regular400;
  font-style: normal;
}
