
  // Mobile
.header {
  
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #323232;
  
    &__title {
      color: #ffffff;
      font-size: 1.5rem;
      font-weight: 700;
      font-family: 'Avenir Next', sans-serif;
      line-height: 2rem;
      text-align: center;
    }
  
    &__nav {
      color: #ffffff;
      font-size: 0.875rem;
      line-height: 1.375rem;
      font-weight: 400;
      font-family: 'Avenir Next', sans-serif;
      text-align: center;
      display: inline-flex;
      justify-content: space-between;
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
  