$primary-font: "Avenir Next", sans-serif;
$font-weight-regular400: 400;
$font-weight-bold: 600;
$font-weight-regular700: 700;


// Tablet
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    background-color: #323232;
    width: 100%;
    padding-left: 2rem;
    padding-top: 1.5rem;
    height: 6rem;

    &__logo {
      width: 8rem;
      height: 1.5rem;
      margin-right: 4rem;
    }
      &__nav {
        display: flex;
        gap:4rem;
        
      
      &__link {
        text-decoration: none;
        color: #ffffff;
        font-size: 2rem;
        font-weight: $font-weight-regular700;
        position: relative;
        margin-left: 2rem;
  
        &--active {
          font-weight: $font-weight-bold;
  
          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -1rem;
            width: 200%;
            height: 4rem;
            background-color: #ffffff;
            transform: translateX(-40%);
          }
        }
      }

    }

  }
  .hero {
    position: relative;
    text-align: center;
    color: white;

    &__image {
      position: relative;
      width: 100%;
      height: 60vh;
      overflow: hidden;
    }

    &__background {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    &__name {
      position: absolute;
      top: 50%;
      left: 35%;
      transform: translate(-50%, -50%);
    }

    &__title {
      font-size: 4rem;
      font-weight: $font-weight-bold;
    }
  }
  .about {
    text-align: left;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 2rem;

    &__title {
      font-size:2rem;
      margin-bottom: 0.5rem;
      font-weight: $font-weight-bold;
    }
    &__us{
      display: flex;
      flex-direction: column;
      padding: 2rem;
    }
    
    &__say {
      font-weight: $font-weight-bold;
      margin: 0.5rem 0;
      font-size: 1.5rem;
    }
    &__container{
      display: flex;
      justify-content: space-between;
      gap: 2rem;
    }

    &__bees {
      font-size: 1.5rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-weight: $font-weight-bold;
    }
  
    &__bees-paragraph {
      text-align: left;
      line-height: 1.6;
      padding-bottom: 1rem;
    }
    &__right{
      padding-top: 4rem;
    }
  }
  .photos{
    display: flex;
    flex-direction: column;
    padding:1rem;

    &__name{
      font-size:2rem;
      margin-bottom: 0.5rem;
      font-weight: $font-weight-bold;
      padding: 2rem;
      
    }

    &__gallery {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 2rem;
      justify-content: space-around;
    }
    .gallery-items{
      width: calc(33.33% - 1rem);
      margin-bottom:0.5rem;
      
    }
  }
 
  
}

// Desktop
@media only screen and (min-width: 1280px) {
  .header {
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0 1rem;
  }

  .header__title {
    font-size: 3.75rem;
  }

  .header__nav {
    font-size: 2.25rem;
  }
}
