$primary-font: "Avenir Next", sans-serif;
$font-weight-regular400: 400;
$font-weight-bold: 600;
$font-weight-regular700: 700;


// Tablet
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    background-color: #323232;
  
    &__logo {
      height: 1.25rem;
      width: auto;
      padding-bottom: 0.5rem;
    }
    
  
    &__nav {
    display: flex;
    flex-direction: row;
    padding-left: 4rem;
    
    }
  
    &__menu {
      display: flex;
      list-style: none;
      margin-top: 1rem;
      padding: 0;
      gap: 6rem;

    }
  
    &__link {
      position: relative;
      a {
        text-decoration: none;
        color: #ffffff;
        font-family:$primary-font;
      }
   
      &--active {
        font-weight: $font-weight-bold;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2rem;
          width: 100%;
          height: 0.25rem;
          background-color: #ffffff;
          
         
        }
      }
  }
}
  .hero {
    position: relative;
    text-align: center;
    color: white;

    &__image {
      position: relative;
      width: 100%;
      height: 60vh;
      overflow: hidden;
    }

    &__background {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    &__name {
      position: absolute;
      top: 50%;
      left: 35%;
      transform: translate(-50%, -50%);
    }

    &__title {
      font-size: 4rem;
      font-weight: $font-weight-bold;
    }
  }
  .about {
    text-align: left;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 2rem;

    &__title {
      font-size:2rem;
      margin-bottom: 0.5rem;
      font-weight: $font-weight-bold;
    }
    &__us{
      display: flex;
      flex-direction: column;
      font-size: 1.5rem;
      padding-left: 3rem;
      &__say {
        font-weight: $font-weight-bold;
        margin: 0.5rem 0; 
        padding-left: 3rem;  
      }
    }
      
    
    
    &__container{
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      padding-left: 3rem;

    }

    &__bees {
      font-size: 1.5rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-weight: $font-weight-bold;
    }
  
    &__bees-paragraph {
      text-align: left;
      line-height: 1.6;
      padding-bottom: 1rem;
    }
    &__right{
      padding-top: 4rem;
    }
  }
  .photos{
    display: flex;
    flex-direction: column;
    padding:1rem;
    background-color: #f9f9f9;

    &__name{
      font-size:2rem;
      margin-bottom: 0.5rem;
      font-weight: $font-weight-bold;
      padding: 2rem;
      
    }

    &__gallery {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 2rem;
      justify-content: space-around;
    }
    .gallery-items{
      width: calc(33.33% - 1rem);
      margin-bottom:0.5rem;
      
    }
  }
  .footer {
    background-color: #323232;
    color: white;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    
    &__contacts{
      display: flex;
      height: fit-content;
      width: 80%;
    }
    &__title {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      padding-right: 6.5rem;
    }

    &__socials {
      margin: 1rem 0;

      img {
        width: 1.25rem;
        height: 1.25rem;
        margin: 0 0.3125rem;
      }
    }

    .management{
      margin-bottom: 1rem;
      margin-right: 1.5rem;

      &__name{
        font-weight: $font-weight-bold;
        margin-bottom: 1rem;
      }
      &__location{
        margin-bottom: 1rem;
      }
      &__email:hover{
        color: #afafaf;

      }
    }


    .group{
      margin-bottom: 1rem;
      margin-right: 1.5rem;

      &__name{
        font-weight: $font-weight-bold;
        margin-bottom: 1rem;
      }
      &__booking-agent{
        margin-bottom: 1rem;
      }
      &__email:hover{
        color: #afafaf;

      }
    }

    .arc{
      margin-bottom: 1rem;
      &__name{
        font-weight: $font-weight-bold;
        margin-bottom: 1rem;
      }
      &__booking-agent{
        margin-bottom: 1rem;
      }
      &__email:hover{
        color: #afafaf;

      }
    }
    &__logo-container{
      position: absolute;
      right: 50px;
      flex: 1;
      justify-content: flex-end;
      display: flex;
      align-items: center;

      &__logo {
        width: 7.125rem;
        height: 1.1875rem;
        padding-bottom: 1rem;
  
      }
    }

    
    .copyright {
      padding-top: 2rem;
      font-size: x-small;
      
    }


  }
}


// Desktop
@media only screen and (min-width: 1280px) {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    background-color: #323232;
  
    &__logo {
      height: 1.25rem;
      width: auto;
      padding-bottom: 0.5rem;
    }
    
  
    &__nav {
    display: flex;
    flex-direction: row;
    padding-left: 4rem;
    
    }
  
    &__menu {
      display: flex;
      list-style: none;
      margin-top: 1rem;
      padding: 0;
      gap: 6rem;

    }
  
    &__link {
      position: relative;
      a {
        text-decoration: none;
        color: #ffffff;
        font-family:$primary-font;
      }
   
      &--active {
        font-weight: $font-weight-bold;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2rem;
          width: 100%;
          height: 0.25rem;
          background-color: #ffffff;
          
         
        }
      }
  }
}
  .hero {
    position: relative;
    text-align: center;
    color: white;

    &__image {
      position: relative;
      width: 100%;
      height: 60vh;
      overflow: hidden;
    }

    &__background {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    &__name {
      position: absolute;
      top: 50%;
      left: 35%;
      transform: translate(-50%, -50%);
    }

    &__title {
      font-size: 4rem;
      font-weight: $font-weight-bold;
    }
  }
  .about {
    text-align: left;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 2rem;

    &__title {
      font-size:2rem;
      margin-bottom: 0.5rem;
      font-weight: $font-weight-bold;
    }
    &__us{
      display: flex;
      flex-direction: column;
      font-size: 1.5rem;
      padding-left: 3rem;
      font-weight: $font-weight-regular700;

      
    }
      
    &__say {
      font-weight: $font-weight-bold;
      margin: 0.5rem 0; 
      padding-left: 3rem;  
    }
    
    
    &__container{
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      padding-left: 3rem;

    }

    &__bees {
      font-size: 1.5rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-weight: $font-weight-bold;
    }
  
    &__bees-paragraph {
      text-align: left;
      line-height: 1.6;
      padding-bottom: 1rem;
    }
    &__right{
      padding-top: 4rem;
    }
  }
  .photos{
    display: flex;
    flex-direction: column;
    padding:1rem;
    background-color: #f9f9f9;

    &__name{
      font-size:2rem;
      margin-bottom: 0.5rem;
      font-weight: $font-weight-bold;
      padding: 2rem;
      
    }

    &__gallery {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 2rem;
      justify-content: space-around;
    }
    .gallery-items{
      width: calc(33.33% - 1rem);
      margin-bottom:0.5rem;
      
    }
  }
  .footer {
    background-color: #323232;
    color: white;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
   
    
    &__contacts{
      display: flex;
      height: fit-content;
      width: 80%;
    }
    &__title {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      padding-right: 6.5rem;
    }

    &__socials {
      margin: 1rem 0;

      img {
        width: 1.25rem;
        height: 1.25rem;
        margin: 0 0.3125rem;
      }
    }

    .management{
      margin-bottom: 1rem;
      margin-right: 1.5rem;

      &__name{
        font-weight: $font-weight-bold;
        margin-bottom: 1rem;
      }
      &__location{
        margin-bottom: 1rem;
      }
      &__email:hover{
        color: #afafaf;

      }
    }


    .group{
      margin-bottom: 1rem;
      margin-right: 1.5rem;

      &__name{
        font-weight: $font-weight-bold;
        margin-bottom: 1rem;
      }
      &__booking-agent{
        margin-bottom: 1rem;
      }
      &__email:hover{
        color: #afafaf;

      }
    }

    .arc{
      margin-bottom: 1rem;
      &__name{
        font-weight: $font-weight-bold;
        margin-bottom: 1rem;
      }
      &__booking-agent{
        margin-bottom: 1rem;
      }
      &__email:hover{
        color: #afafaf;

      }
    }
    &__logo-container{
      position: absolute;
      right: 50px;
      flex: 1;
      justify-content: flex-end;
      display: flex;
      align-items: center;

      &__logo {
        width: 7.125rem;
        height: 1.1875rem;
        padding-bottom: 1rem;
  
      }
    }

    
    .copyright {
      padding-top: 2rem;
      font-size: x-small;
      
    }


  }
}
