body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", sans-serif;
}

a {
  margin: 0;
  padding-top: 1rem;
  font-family: "Avenir Next", sans-serif;
  text-decoration: none;
  color: #FFFFFF;
}

body {
  line-height: 1.6;
}

img {
  width: 100%;
}

@font-face {
  font-family: "Avenir Next", sans-serif;
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next", sans-serif;
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next", sans-serif;
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #323232;
  }
  .header__logo {
    height: 1.25rem;
    width: auto;
  }
  .header__nav {
    display: flex;
    flex-direction: row;
  }
  .header__menu {
    display: flex;
    list-style: none;
    margin-top: 1rem;
    padding: 0;
    gap: 6rem;
  }
  .header__link {
    position: relative;
  }
  .header__link a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Avenir Next", sans-serif;
  }
  .header__link--active {
    font-weight: 600;
  }
  .header__link--active::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -1em;
    width: 250%;
    height: 0.25rem;
    background-color: #ffffff;
    transform: translateX(-53%);
  }
  .hero {
    position: relative;
    text-align: center;
    color: white;
  }
  .hero__image {
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
  }
  .hero__background {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .hero__name {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
  .hero__title {
    font-size: 2rem;
    font-weight: 600;
  }
  .about {
    text-align: left;
    padding: 1rem;
  }
  .about__title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  .about__say {
    font-weight: 600;
    margin: 0.5rem 0;
  }
  .about__name {
    font-weight: 600;
  }
  .about__bees {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
  }
  .about__bees-paragraph {
    text-align: left;
    line-height: 1.6;
    padding-bottom: 1rem;
  }
  .photos {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #f9f9f9;
  }
  .photos__name {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  .photos__gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .footer {
    background-color: #323232;
    color: white;
    padding: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  .footer__title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: "Avenir Next", sans-serif;
  }
  .footer__socials {
    margin: 1rem 0;
  }
  .footer__socials img {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 0.3125rem;
  }
  .footer__categories {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .footer__management {
    margin-bottom: 1rem;
  }
  .footer__management-name {
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .footer__management-location {
    margin-bottom: 1rem;
  }
  .footer__management-email:hover {
    color: #afafaf;
  }
  .footer__group, .footer__arc {
    margin-bottom: 1rem;
  }
  .footer__group-name, .footer__arc-name {
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .footer__group-agent, .footer__arc-agent {
    margin-bottom: 1rem;
  }
  .footer__group-email:hover, .footer__arc-email:hover {
    color: #afafaf;
  }
  .footer__logo-container {
    padding-top: 2rem;
  }
  .footer__logo {
    width: 7.125rem;
    height: 1.1875rem;
  }
  .footer .copyright {
    padding-top: 2rem;
    font-size: x-small;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    background-color: #323232;
  }
  .header__logo {
    height: 1.25rem;
    width: auto;
    padding-bottom: 0.5rem;
  }
  .header__nav {
    display: flex;
    flex-direction: row;
    padding-left: 4rem;
  }
  .header__menu {
    display: flex;
    list-style: none;
    margin-top: 1rem;
    padding: 0;
    gap: 6rem;
  }
  .header__link {
    position: relative;
  }
  .header__link a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Avenir Next", sans-serif;
  }
  .header__link--active {
    font-weight: 600;
  }
  .header__link--active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2rem;
    width: 100%;
    height: 0.25rem;
    background-color: #ffffff;
  }
  .hero {
    position: relative;
    text-align: center;
    color: white;
  }
  .hero__image {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .hero__background {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .hero__name {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
  }
  .hero__title {
    font-size: 4rem;
    font-weight: 600;
  }
  .about {
    text-align: left;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 2rem;
  }
  .about__title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  .about__us {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding-left: 5rem;
    font-weight: 600;
  }
  .about__name {
    font-size: smaller;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  .about__container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding-left: 5rem;
  }
  .about__bees {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
    font-style: 600;
  }
  .about__bees-paragraph {
    text-align: left;
    line-height: 1.6;
    padding-bottom: 1rem;
  }
  .about__right {
    padding-top: 4rem;
  }
  .photos {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #f9f9f9;
  }
  .photos__name {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    padding: 2rem;
  }
  .photos__gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    justify-content: space-around;
  }
  .photos .gallery-items {
    width: calc(33.33% - 1rem);
    margin-bottom: 0.5rem;
  }
  .footer {
    background-color: #323232;
    color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
  }
  .footer__contacts {
    display: flex;
    height: -moz-fit-content;
    height: fit-content;
    width: 80%;
  }
  .footer__title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    padding-right: 6.5rem;
  }
  .footer__socials {
    margin: 1rem 0;
  }
  .footer__socials img {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 0.3125rem;
  }
  .footer__categories {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }
  .footer__management {
    padding-right: 2rem;
    display: inline-block;
  }
  .footer__management-name {
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .footer__management-location {
    margin-bottom: 1rem;
  }
  .footer__management-email:hover {
    color: #afafaf;
  }
  .footer__group {
    padding-right: 2rem;
    display: inline-block;
  }
  .footer__group-name {
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .footer__group-agent {
    margin-bottom: 1rem;
  }
  .footer__group-email:hover {
    color: #afafaf;
  }
  .footer__arc {
    padding-right: 2rem;
    display: inline-block;
  }
  .footer__arc-name {
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .footer__arc-agent {
    margin-bottom: 1rem;
  }
  .footer__arc-email:hover {
    color: #afafaf;
  }
  .footer__logo-container {
    position: absolute;
    right: 50px;
    flex: 1;
    justify-content: flex-end;
    display: flex;
    align-items: center;
  }
  .footer__logo-container__logo {
    width: 7.125rem;
    height: 1.1875rem;
    padding-bottom: 1rem;
  }
  .footer .copyright {
    padding-top: 2rem;
    font-size: x-small;
  }
}
@media only screen and (min-width: 1280px) {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    padding-left: 8rem;
    background-color: #323232;
  }
  .header__logo {
    height: 1.25rem;
    width: auto;
    padding-bottom: 0.5rem;
  }
  .header__nav {
    display: flex;
    flex-direction: row;
    padding-left: 4rem;
  }
  .header__menu {
    display: flex;
    list-style: none;
    margin-top: 1rem;
    padding: 0;
    gap: 6rem;
  }
  .header__link {
    position: relative;
  }
  .header__link a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Avenir Next", sans-serif;
  }
  .header__link--active {
    font-weight: 600;
  }
  .header__link--active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2rem;
    width: 100%;
    height: 0.25rem;
    background-color: #ffffff;
  }
  .hero {
    position: relative;
    text-align: center;
    color: white;
  }
  .hero__image {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
  }
  .hero__background {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .hero__name {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
  }
  .hero__title {
    font-size: 4rem;
    font-weight: 600;
  }
  .about {
    text-align: left;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 2rem;
  }
  .about__title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  .about__us {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    font-weight: 700;
  }
  .about__name {
    font-size: smaller;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  .about__say {
    font-weight: 600;
    margin: 0.5rem 0;
  }
  .about__container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .about__bees {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  .about__bees-paragraph {
    text-align: left;
    line-height: 1.6;
    padding-bottom: 1rem;
  }
  .about__right {
    padding-top: 4rem;
  }
  .photos {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #f9f9f9;
  }
  .photos__name {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    padding: 2rem;
  }
  .photos__gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    justify-content: space-around;
  }
  .photos .gallery-items {
    width: calc(33.33% - 1rem);
    margin-bottom: 0.5rem;
  }
  .footer {
    background-color: #323232;
    color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
  }
  .footer__contacts {
    display: flex;
    height: -moz-fit-content;
    height: fit-content;
    width: 80%;
  }
  .footer__title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    padding-right: 6.5rem;
  }
  .footer__socials {
    margin: 1rem 0;
  }
  .footer__socials img {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 0.3125rem;
  }
  .footer__categories {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }
  .footer__management {
    padding-right: 2rem;
    display: inline-block;
  }
  .footer__management-name {
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .footer__management-location {
    margin-bottom: 1rem;
  }
  .footer__management-email:hover {
    color: #afafaf;
  }
  .footer__group {
    padding-right: 2rem;
    display: inline-block;
  }
  .footer__group-name {
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .footer__group-agent {
    margin-bottom: 1rem;
  }
  .footer__group-email:hover {
    color: #afafaf;
  }
  .footer__arc {
    padding-right: 2rem;
    display: inline-block;
  }
  .footer__arc-name {
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .footer__arc-agent {
    margin-bottom: 1rem;
  }
  .footer__arc-email:hover {
    color: #afafaf;
  }
  .footer__logo-container {
    position: absolute;
    right: 50px;
    flex: 1;
    justify-content: flex-end;
    display: flex;
    align-items: center;
  }
  .footer__logo-container__logo {
    width: 7.125rem;
    height: 1.1875rem;
    padding-bottom: 1rem;
  }
  .footer .copyright {
    padding-top: 2rem;
    font-size: x-small;
  }
}/*# sourceMappingURL=bio.css.map */