body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", sans-serif;
}

a {
  margin: 0;
  padding-top: 1rem;
  font-family: "Avenir Next", sans-serif;
  text-decoration: none;
  color: #ffffff;
}

body {
  line-height: 1.6;
}

img {
  width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    background-color: #323232;
    width: 100%;
    padding-left: 2rem;
    padding-top: 1.5rem;
    height: 6rem;
  }
  .header__logo {
    width: 8rem;
    height: 1.5rem;
  }
  .header__nav {
    font-size: 1rem;
    display: flex;
    margin-left: 4rem;
    padding: 0;
    list-style: none;
  }
  .header__nav__link {
    padding-left: 4rem;
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    position: relative;
  }
  .header__nav__link--active {
    font-weight: 600;
  }
  .header__nav__link--active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1rem;
    width: 200%;
    height: 0.25rem;
    background-color: #ffffff;
    transform: translateX(-30%);
  }
  .hero {
    position: relative;
    text-align: center;
    color: white;
  }
  .hero__image {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
  }
  .hero__background {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .hero__name {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
  }
  .hero__title {
    font-size: 4rem;
    font-weight: 600;
  }
  .about {
    text-align: left;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 2rem;
  }
  .about__title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  .about__say {
    font-weight: 600;
    margin: 0.5rem 0;
  }
  .about__bees {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: 400;
  }
  .about__bees-paragraph {
    text-align: left;
    line-height: 1.6;
    padding-bottom: 1rem;
  }
}
@media only screen and (min-width: 1280px) {
  .header {
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0 1rem;
  }
  .header__title {
    font-size: 3.75rem;
  }
  .header__nav {
    font-size: 2.25rem;
  }
}
@font-face {
  font-family: "Avenir Next", sans-serif;
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next", sans-serif;
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next", sans-serif;
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #323232;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1.5rem;
  }
  .header__nav {
    display: flex;
    flex-direction: row;
    gap: 8rem;
  }
  .header__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 200;
    position: relative;
  }
  .header__link--active {
    font-weight: 600;
  }
  .header__link--active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1rem;
    width: 200%;
    height: 0.25rem;
    back