@use "./partials/global" as *;
@use "./partials/responsive" as *;

$primary-font: "Avenir Next", sans-serif;
$font-weight-regular400: 400;
$font-weight-bold: 600;
$font-weight-regular700: 700;

@font-face {
  font-family: $primary-font;

  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: $font-weight-regular700;
  font-style: normal;
}
@font-face {
  font-family: $primary-font;
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: $font-weight-bold;
  font-style: normal;
}

@font-face {
  font-family: $primary-font;
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: $font-weight-regular400;
  font-style: normal;
}

.hero {
  position: relative;
  text-align: center;
  color: white;

  &__image {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
  }

  &__background {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__name {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  &__title {
    font-size: 2rem;
    font-weight: $font-weight-bold;
  }
}

.about {
  text-align: left;
  padding: 2rem;

  &__title {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: $font-weight-bold;
  }

  &__say {
    font-weight: $font-weight-bold;
    margin: 1rem 0;
  }

  &__bees {
    font-size: 1.8rem;
    margin-top: 2rem;
    font-weight: $font-weight-regular400;
  }

  &__bees-paragraph {
    text-align: left;
    line-height: 1.8;
    padding-bottom: 1rem;
  }
}

.photo-gallery {
  flex-direction: column;
  display: flex;
  gap: 1rem;
  padding: 2rem;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
.footer {
  background-color: #323232;
  color: white;
  padding: 2rem;
  text-align: left;

  &__title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__socials {
    margin: 1rem 0;

    img {
      width: 30px;
      height: 30px;
      margin: 0 10px;
    }
  }

  .management,
  .group,
  .arc {
    margin-bottom: 2rem;
  }

  .management__name,
  .group__name,
  .arc__name {
    font-weight: $font-weight-bold;
    margin-bottom: 0.5rem;
  }
  .management__email a,
  .group__email a,
  .arc__email a {
    color: #ffffff;
    text-decoration: none;
  }
}
