@use "./partials/global" as *;
@use "./partials/responsive" as *;

$primary-font: "Avenir Next", sans-serif;
$font-weight-regular400: 400;
$font-weight-bold: 600;
$font-weight-regular700: 700;

@font-face {
  font-family: $primary-font;

  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: $font-weight-regular700;
  font-style: normal;
}
@font-face {
  font-family: $primary-font;
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: $font-weight-bold;
  font-style: normal;
}

@font-face {
  font-family: $primary-font;
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: $font-weight-regular400;
  font-style: normal;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #323232;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1.5rem;

    &__nav {
      display: flex;
      flex-direction: row;
      gap: 8rem;
    }

    &__link {
      text-decoration: none;
      color: #ffffff;
      font-size: 1rem;
      font-weight: 200;
      position: relative;

      &--active {
        font-weight: $font-weight-bold;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -1rem;
          width: 200%;
          height: 0.25rem;
          background-color: #ffffff;
          transform: translateX(-30%);
        }
      }
    }
  }

  .hero {
    position: relative;
    text-align: center;
    color: white;

    &__image {
      position: relative;
      width: 100%;
      height: 40vh;
      overflow: hidden;
    }

    &__background {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    &__name {
      position: absolute;
      top: 50%;
      left: 35%;
      transform: translate(-50%, -50%);
    }

    &__title {
      font-size: 1.5rem;
      font-weight: $font-weight-bold;
    }
  }

  
  .about {
    text-align: left;
    padding: 1rem;

    &__title {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      font-weight: $font-weight-bold;
    }

    &__say {
      font-weight: $font-weight-bold;
      margin: 0.5rem 0;
    }

    &__bees {
      font-size: 1.2rem;
      margin-top: 1rem;
      font-weight: $font-weight-regular400;
    }

    &__bees-paragraph {
      text-align: left;
      line-height: 1.6;
      padding-bottom: 1rem;
    }
  }
  .photo-gallery {
    flex-direction: column;
    display: flex;
    gap: 1rem;
    padding: 1rem;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .footer {
    background-color: #323232;
    color: white;
    padding: 1rem;
    text-align: left;

    &__title {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    &__socials {
      margin: 1rem 0;

      img {
        width: 1.25rem;
        height: 1.25rem;
        margin: 0 0.3125rem;
      }
    }

    .management,
    .group,
    .arc {
      margin-bottom: 1rem;
    }

    .management__name,
    .group__name,
    .arc__name {
      font-weight: $font-weight-bold;
      margin-bottom: 1rem;
    }
    .management__city {
      margin-bottom: 1rem;
    }
    .group__booking-client {
      margin-bottom: 1rem;
    }
    .arc__booking-client {
      margin-bottom: 1rem;
    }

    &__logo {
      width: 7.125rem;
      height: 1.1875rem;
    }
    .copyright {
      padding-top: 2rem;
      font-size: x-small;
    }
  }
}
