@use "./partials/header" as *;
@use "./partials/global" as *;
@use "./partials/responsive" as *;

.hero{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./assets/images/hero-bio.jpg');
  background-size: cover; 

}