@use "./partials/header" as *;
@use "./partials/global" as *;
@use "./partials/responsive" as *;

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height:500px;
  overflow: hidden;
}

.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:500px;
  z-index: -1;
}

.hero__background {
  width: 100%;
  height:500px;
  object-fit: cover;
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:500px;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 0;
}

.hero__name {
  z-index: 1;
  text-align:left;
  
}

.hero__title {
  font-size: 3rem;
  color: white;
}
